.editor-root{
    display: block;
    width: 600px;
    height: auto;
    margin-left: 200px;

}
.editor-content{
    margin-top: 15px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.85);

}
.editor {
    padding: 10px;
    display: block;
    position: relative;
}

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}

.editor .align-left,
.editor .align-left >div,
.editor .align-left img {
    text-align: left;

}

.editor .align-right,
.editor .align-right >div,
.editor .align-right img {
    text-align: right;

}

.editor .align-center,
.editor .align-center >div,
.editor .align-center img {
    text-align: center;

}

.editor .align-justify,
.editor .align-justify >div,
.editor .align-justify img {
    text-align: justify;

}

.editorLink > span{
    text-decoration: underline;
    color: #3B5998;
}

.post-title {
    margin-bottom: 10px;
}

.post-description {
    margin-bottom: 10px;
}

.post-avatar img{
    width: 300px;
    height: 300px;
}