.post{
    display: flex;
    flex-flow: column;
}


.post .post-title {
    margin-bottom: 20px;
}

.post-title h1{
    color: #242321;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 300;
}

.post-description p {
    color: #666;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.post .post-content{
    color: #666;
    padding: 15px;
    font-family: 'Questrial';
    font-weight: 400;
}

.post .post-button{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.post .social-button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.post .social-button .likes{
    background-color: #eee;
    position: relative;
    color: #333;
    text-align: center;
    padding-top: 14px;
    text-decoration: none;
    border-radius: 50%;
    background-clip: padding-box;
}

.post .social-button .likes p {
    font-weight: 400;
}

.post .social-button .shares {
    margin-top: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.post .social-button .shares h4{
    font-weight: 300;
    font-family: 'Montserrat';
}

.social-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.social-links a{
    color: #898989;
}

.post .navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: 'Questrial';
    font-weight: 400;
    margin: 60px 0 10px 0;
}

.post .navigation .previous {
    color: #898989;
    cursor: pointer;
}

.post .navigation .next {
    color: #242321;
    cursor: pointer;
}

.post .post-comments {
    margin-top: 40px;
    padding: 15px;
}

.post .post-comments .ui.comments {
    max-width: 100%;
}
.post .login-button {
    margin-top: 20px;
}

.post .tag {
    display: flex;
    flex-flow: row;
}

.post .tag .item {
    color: red;
}

.post .editor pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

@media (max-width: 620px) {
    .post {
        padding: 5px 1px 5px 1px;
        margin: 0 5px 0 5px;
    }

    .post .post-content{
        font-size: 14px;
    }

    .post-title h1{
        font-size: 18px
    }

    .post-description p {
        font-size: 14px;
    }

    .post .social-button .likes{
        font-size: 14px;
        width: 50px;
        height: 50px;
    }

    .post .social-button .likes p {
        font-size: 14px;
    }

    .post .social-button .shares h4 {
        font-size: 14px;
    }

    .social-links a {
        margin-right: 10px;
        font-size: 14px;
    }

    .post .navigation {
        padding: 0 5px 0 5px;
        font-size: 14px;
    }
    .post .tag .item {
        font-size: 14px;
    }

    .post .editor pre {
        background-color: rgba(0, 0, 0, 0.05);
        font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
        font-size: 14px;
        padding: 5px;
    }
}

@media (min-width: 830px) {
    .post {
        padding: 20px;
        margin: 0 100px 0 100px;
    }

    .post .post-content{
        font-size: 16px;
    }

    .post-title h1{
        font-size: 26px;
    }

    .post-description p {
        font-size: 16px;
    }

    .post .social-button .likes{
        font-size: 18px;
        width: 68px;
        height: 68px;
    }

    .post .social-button .likes p {
        font-size: 11px;
    }

    .post .social-button .shares h4 {
        font-size: 18px;
    }
    .social-links a {
        margin-right: 50px;
        font-size: 15px;
    }

    .post .navigation {
        padding: 0 15px 0 15px;
        font-size: 20px;
    }

    .post .tag .item {
        font-size: 14px;
    }

    .post .editor pre {
        background-color: rgba(0, 0, 0, 0.05);
        font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
        font-size: 16px;
        padding: 20px;
        margin-left: 20px;
        width: 70%;
        line-height: 0.8;
    }

}