.userList {
    display: table;
    width: 100%;
}

.userList .tableRow {
    display: table-row;
    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
    padding-top: 5px;
}

.userList .header {
    background-color: #FFEEDB;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;

}

.userList .tableRow .item {
    display: table-cell;
    padding: 10px 20px;
}